.App {
  background-color: #000;
  height: 200px;
}

.App img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin: 100px 0 0 100px;
  width: 200px;
}

.Content-profile {
  width: 20%;
  height: 600px;
  float: left;
}

.Content-info {
  width: 79%;
  height: 600px;
  float: right;
  margin-top: 250px;
}

.Info {
  text-align: center;
  width: 200px;
  margin: 0px 0 0 100px;
}

.Skills {
  text-align: center;
}

.Contact {
  text-align: center;
}

.About {
  text-align: center;
  width: 80%;
  margin: auto;
}

.About p {
  text-indent: 20px;
  font-size: 20pt;
}

.Repos-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Repos-list h1 {
  width: 100%;
  text-align: center;
}

.Repo {
  border: 1px solid #dedede;
  width: 20%;
  margin: 5px;
  text-align: center;
  border-radius: 10px;
}

.Repo a {
  text-decoration: none;
  color: #222;
}