@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.App {
  font-family: 'Ubuntu', sans-serif;
  color: #34495e;
  background-image: url('assets/bkg.jpg');
  background-position: center;
  background-size: 100%;
  height: 220px;
  text-align: center;
}

.App img {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 120px auto -10px;
  width: 200px;
}

.Content-profile {
  width: 100%;
}

.Info {
  text-align: center;
}

.Info p {
  margin-top: -20px;
}

.icons {
  display: flex;
  align-items: center;
  justify-content : space-evenly;
  text-align: center;
  width: 20%;
  margin: 0px auto 20px;
}

.in {
  background-image: url('./assets/icons/linkedin-logo.svg');
  background-size: 100%;
  width: 30px;
  height: 30px;
}
.git {
  background-image: url('./assets/icons/github-sign.svg');
  background-size: 100%;
  width: 30px;
  height: 30px;
}
.cv {
  background-image: url('./assets/icons/cv.svg');
  background-size: 100%;
  width: 30px;
  height: 30px;
}

.menu button {
  margin: 5px 5px 20px;
  padding: 5px;
  border: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  font-weight: bold;
  transition: .5s;
  color: #2c3e50;
}

.menu button:hover {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, .8);
  cursor: pointer;
  font-weight: bold;
  transition: .5s;
}